{% extends "base.html" %}
{% block title %}Password Reset Request - {{ INST_SHORT_NAME }} PeerEval{% endblock %}

{% block content %}
<div class="flex items-center justify-center">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-96 border p-4">
        <legend class="fieldset-legend">Password Reset Request</legend>
        <form method="POST">
            {% csrf_token %}
            <label class="label">First Name</label>
            <input type="text" class="input w-full mb-2" placeholder="First Name" name="first_name" id="first_name" />

            <label class="label">Last Name</label>
            <input type="text" class="input w-full mb-2" placeholder="Last Name" name="last_name" id="last_name" />

            <label class="label">Username</label>
            <input type="text" class="input w-full mb-2" placeholder="Username" name="username" id="username" />

            <label class="label">ID</label>
            <input type="text" class="input w-full mb-2" placeholder="ID" name="id" id="id" />

            <button type="submit" class="btn btn-neutral mt-4 w-full">Submit</button>
        </form>
        <div class="mt-4 text-center">
            <a href="{% url 'login' %}" class="link">Back to Login</a>
        </div>
    </fieldset>
</div>
{% endblock %}