{% extends "base.html" %}
{% block title %}Welcome to {{ INST_NAME }} PeerEval{% endblock %}

{% block content %}

    {% if is_enrolled %}
        <div class="bg-zinc-700 p-4 rounded-lg">
        <div class="enrolled-courses">
            <h2>You are enrolled in the following courses:</h2>
            <ul>
                {% for enrollment in enrollments %}
                    <li>
                        {{ enrollment.section_id.course.name }} 
                        (Section {{ enrollment.section_id.section_number }} - {{ enrollment.section_id.term.name }})
                    </li>
                {% endfor %}
            </ul>
        </div>
        </div>
    {% endif %}

{% endblock %}


