{% extends "base.html" %}
{% block title %}Password Reset Request - {{ INST_SHORT_NAME }} PeerEval{% endblock %}

{% block content %}
<div class="flex items-center justify-center">
    <div class="flex flex-col justify-center w-1/2 max-w-md bg-zinc-200 dark:bg-zinc-800 rounded-lg p-4 shadow-lg mt-2/3 mb-2/3">
        <h1 class="text-2xl font-bold text-center mb-4">PASSWORD RESET REQUEST</h1>
        <form method="POST">
            {% csrf_token %}
            <c-input_text type="text" label="FIRST NAME" name="first_name" id="first_name"/>
            <c-input_text type="text" label="LAST NAME" name="last_name" id="last_name"/>
            <c-input_text type="text" label="USERNAME" name="username" id="username"/>
            <c-input_text type="text" label="ID" name="id" id="id"/>
            <c-btn_action type="submit" label="SUBMIT"/>
        </form>
        <div class="mt-4 text-center">
            <a href="{% url 'login' %}" class="text-blue-500 hover:text-blue-700">Back to Login</a>
        </div>
    </div>
</div>
{% endblock %} 