{% extends "base.html" %}
{% block title %}Reset Password - {{ INST_SHORT_NAME }} PeerEval{% endblock %}

{% block content %}
<div class="flex items-center justify-center">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-96 border p-4">
        <legend class="fieldset-legend">Reset Password</legend>
        <form method="POST">
            {% csrf_token %}
            <label class="label">New Password</label>
            <input type="password" class="input validator w-full mb-2" placeholder="New Password" name="new_password" id="new_password" required
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must be more than 8 characters, including number, lowercase letter, uppercase letter" />
            <p class="validator-hint text-sm text-base-content/70 mb-4 hidden">
                Must be more than 8 characters, including
                <br/>At least one number
                <br/>At least one lowercase letter 
                <br/>At least one uppercase letter
            </p>

            <label class="label">Confirm Password</label>
            <input type="password" class="input validator w-full mb-2" placeholder="Confirm Password" name="confirm_password" id="confirm_password" required
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />

            <button type="submit" class="btn btn-neutral mt-4 w-full">Reset Password</button>
        </form>
        <div class="mt-4 text-center">
            <a href="{% url 'login' %}" class="link">Back to Login</a>
        </div>
    </fieldset>
</div>
{% endblock %}