{% extends "base.html" %}
{% block title %}Reset Password - {{ INST_SHORT_NAME }} PeerEval{% endblock %}

{% block content %}
<div class="flex items-center justify-center">
    <div class="flex flex-col justify-center w-1/2 max-w-md bg-zinc-200 dark:bg-zinc-800 rounded-lg p-4 shadow-lg mt-2/3 mb-2/3">
        <h1 class="text-2xl font-bold text-center mb-4">RESET PASSWORD</h1>
        <form method="POST">
            {% csrf_token %}
            <c-input_text type="password" label="NEW PASSWORD" name="new_password" id="new_password"/>
            <c-input_text type="password" label="CONFIRM PASSWORD" name="confirm_password" id="confirm_password"/>
            <c-btn_action type="submit" label="RESET PASSWORD"/>
        </form>
        <div class="mt-4 text-center">
            <a href="{% url 'login' %}" class="text-blue-500 hover:text-blue-700">Back to Login</a>
        </div>
    </div>
</div>
{% endblock %} 