{% extends "base.html" %}
{% block title %}Add Instructor - {{ INST_SHORT_NAME }} PeerEval{% endblock %}

{% block content %}
<div class="flex flex-col gap-4">
    <div class="flex flex-row gap-2 items-center justify-between">
        <h1 class="text-2xl font-bold">Add Instructor</h1>
        <div class="flex flex-row gap-2">
            <a href="{% url 'index' %}" class="text-zinc-600 dark:text-zinc-400 hover:text-zinc-800 dark:hover:text-zinc-200 transition-colors">Dashboard</a>
            <span class="text-zinc-600 dark:text-zinc-400">/</span>
            <a href="{% url 'add_instructor' %}" class="text-zinc-600 dark:text-zinc-400 hover:text-zinc-800 dark:hover:text-zinc-200 transition-colors">Add Instructor</a>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div class="flex flex-col justify-center w-1/2 max-w-md bg-zinc-200 dark:bg-zinc-800 rounded-lg p-4 shadow-lg mt-2/3 mb-2/3">
            <form method="POST">
                {% csrf_token %}
                <c-input_text type="text" label="USERNAME" name="username" id="username"/>
                <c-input_text type="text" label="FIRST NAME" name="first_name" id="first_name"/>
                <c-input_text type="text" label="LAST NAME" name="last_name" id="last_name"/>
                <c-input_text type="text" label="ID" name="id" id="id"/>
                <c-btn_action type="submit" label="ADD INSTRUCTOR"/>
            </form>
        </div>
    </div>
</div>
{% endblock %} 