{% extends "base.html" %}
{% block title %}Add Section - {{ INST_SHORT_NAME }} PeerEval{% endblock %}

{% block content %}
<div class="flex flex-col gap-4">
    <div class="flex flex-row gap-2 items-center justify-between">
        <h1 class="text-2xl font-bold">Add Section</h1>
        <div class="flex flex-row gap-2">
            <a href="{% url 'index' %}" class="text-zinc-600 dark:text-zinc-400 hover:text-zinc-800 dark:hover:text-zinc-200 transition-colors">Dashboard</a>
            <span class="text-zinc-600 dark:text-zinc-400">/</span>
            <a href="{% url 'add_section' %}" class="text-zinc-600 dark:text-zinc-400 hover:text-zinc-800 dark:hover:text-zinc-200 transition-colors">Add Section</a>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div class="flex flex-col justify-center w-1/2 max-w-md bg-zinc-200 dark:bg-zinc-800 rounded-lg p-4 shadow-lg mt-2/3 mb-2/3">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-4">
                    <h3 class="text-sm font-medium text-zinc-700 dark:text-zinc-200">COURSE</h3>
                    <select name="course" id="course" class="mb-4 w-full p-2 rounded-md border border-zinc-300 dark:border-zinc-700 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-500 dark:bg-zinc-950 dark:text-zinc-50">
                        <option value="" disabled selected>Select Course</option>
                        {% for course in courses %}
                            <option value="{{ course.id }}">{{ course.department.id }}{{ course.course_code }} {{ course.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <c-input_text type="text" label="SECTION NUMBER" name="section_number" id="section_number"/>
                <div class="mb-4">
                    <h3 class="text-sm font-medium text-zinc-700 dark:text-zinc-200">TERM</h3>
                    <select name="term" id="term" class="mb-4 w-full p-2 rounded-md border border-zinc-300 dark:border-zinc-700 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-500 dark:bg-zinc-950 dark:text-zinc-50">
                        <option value="" disabled selected>Select Term</option>
                        {% for term in terms %}
                            <option value="{{ term.id }}">{{ term.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <h3 class="text-sm font-medium text-zinc-700 dark:text-zinc-200">INSTRUCTOR</h3>
                    <select name="instructor" id="instructor" class="mb-4 w-full p-2 rounded-md border border-zinc-300 dark:border-zinc-700 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-500 dark:bg-zinc-950 dark:text-zinc-50">
                        <option value="" disabled selected>Select Instructor</option>
                        {% for instructor in instructors %}
                            <option value="{{ instructor.id }}">{{ instructor.first_name }} {{ instructor.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <c-btn_action type="submit" label="ADD SECTION"/>
            </form>
        </div>
    </div>
</div>
{% endblock %} 